
//color variables
$color-primary:#074fd6;
$color-primary-light:#3e7df1;
$color-primary-dark:#063690f3;
$color-gold:#e2860ef3;
$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary:#20aa08f3;
$color-tertiary-light:#a2ff29;
$color-tertiary-dark:#448606;

$color-grey-dark:#333;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
$color-dark-gray:#777;
$color-white:rgb(255, 255, 255);
$color-black:rgb(000, 000, 000);

//font
$default-font-size:1.6rem;

//grid-width
$grid-width:114rem;
$gutter-vertical:6rem;
$gutter-horizontal:6rem;