.btn {
    &,
    &:link,
    &:visited {
      font-size: 1.5vw;
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 10rem;
      -webkit-border-radius: 10rem;
      -moz-border-radius: 10rem;
      -ms-border-radius: 10rem;
      -o-border-radius: 10rem;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      box-shadow: 0 0.5rem 10px rgba(0, 0, 0, 0.5);
      position: relative;
      animation-name: moveInBottom;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      @include respond(tab-port){
        font-size: 2rem;
      }
    }
    &:hover {
      transform: translateY(0.3rem);
      -webkit-transform: translateY(0.3rem);
      -moz-transform: translateY(0.3rem);
      -ms-transform: translateY(0.3rem);
      -o-transform: translateY(0.3rem);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
      &::after {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        opacity: 0;
      }
    }
  
    &:active,
    &:focus {
      outline: none;
      transform: translateY(-0.1rem);
      -webkit-transform: translateY(-0.1rem);
      -moz-transform: translateY(-0.1rem);
      -ms-transform: translateY(-0.1rem);
      -o-transform: translateY(-0.1rem);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    &-white {
      background-color: $color-white;
      color: $color-dark-gray;
      &::after {
        background-color: $color-white;
      }
    }
    &-theme{
        background-color: $color-primary-light;
        color:$color-white;
    }
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      -webkit-border-radius: 10rem;
      -moz-border-radius: 10rem;
      -ms-border-radius: 10rem;
      -o-border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
    }
    @include respond(phone){
      
      padding: 1.5rem 2rem;
    }
    
  }
  
  .btn-text {
    &:link,
    &:visited {
      font-size: $default-font-size;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
    }
    &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
      padding: 5px;
      transform: translate(-2px);
      -webkit-transform: translate(-2px);
      -moz-transform: translate(-2px);
      -ms-transform: translate(-2px);
      -o-transform: translate(-2px);
    }
    &:active {
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
      transform: translate(0);
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
    }
  }
  
  .btn-green{
    background-color:#3de42e; 
  }