*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    background-repeat: repeat;
    
    @include respond(tab-land){
        font-size: 56.5%;
    }
    @include respond(tab-port){
        font-size: 50%;
    }
    @include respond(big-desk){
        font-size: 75%;
    }
    @include respond(tv-size){
        font-size: 120%;
    }
}
body{
    background-color: black;
    max-width: 1500px !important;
    box-sizing: border-box;
    @include respond(big-desk){
        max-width: 165rem;
    }
}