.section-about {
    background-color: $color-grey-light-1;
    padding         : 25rem 0;
    margin-top      : -25vh;
    @include respond(tab-port){
        padding: 12rem 0 10rem;
        margin-top:-20vh;
    }
   
}

.section-features {
    padding          : 20rem 0;
    background-image : linear-gradient(
                        to right bottom, 
                        rgba($color-primary-light, 0.7), 
                        rgba($color-primary-dark, 0.7)), 
                        url(../img/SectionFeatur-bg2.jpg);
    background-size       : cover;
    transform        : skewY(-7deg);
    -webkit-transform: skewY(-7deg);
    -moz-transform   : skewY(-7deg);
    -ms-transform    : skewY(-7deg);
    -o-transform     : skewY(-7deg);
    margin-top       : -10rem;

    &>* {
        transform        : skewY(7deg);
        -webkit-transform: skewY(7deg);
        -moz-transform   : skewY(7deg);
        -ms-transform    : skewY(7deg);
        -o-transform     : skewY(7deg);
    }


    @include respond(tab-port){
        background-image : linear-gradient(
                        to right bottom, 
                        rgba($color-primary-light, 0.6), 
                        rgba($color-primary-dark, 0.6)), 
                        url(../img/section-feacher-phon-bg2.jpg);
    padding          : 6rem 0;
    margin-top       : -8rem;
    background-size       : cover;
    }
    @include respond(phone){
        padding: 10rem 0;
        background-image : linear-gradient(
                        to right bottom, 
                        rgba($color-primary-light, 0.4), 
                        rgba($color-primary-dark, 0.4)), 
                        url(../img/section-feacher-phon-bg3.jpg);
        background-size       : cover;
    }
    
}
.section-tours{
    background-color: $color-grey-light-1;
    padding         : 25rem 0 15rem 0;
    margin-top: -10rem;
    @include respond(tab-port){
        padding:14rem 0 6rem 0;
    }
}
.section-stories{
    position: relative;
    padding:5rem 0;
    background-color:$color-grey-light-1;
    width:100%;
    opacity: .9;
    @include respond(tab-land){
       background-image: url(../img/Story-bg-5k-2.jpg);
       background-repeat: no-repeat;
       background-size:cover;
       width:100%;
       opacity: .9;
    }
    @include respond(big-desk){
        background-image: url(../img/Story-bg-5k-2.jpg);
       background-repeat: no-repeat;
       background-size:cover;
       opacity: .9;
    }
    // @include respond(tv-size){
    //     background-image: url(../img/Story-bg-5k.jpg);
    //     background-repeat: no-repeat;
    //     background-size:cover;
    //     opacity: .9;
    // }
    
}
.section-book{
    padding:15rem 0;
    background: rgb(20, 103, 204);  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        @include respond(tab-port){
            padding:7rem 0 7rem 0;
        }
}
.book{
    background-image:linear-gradient(105deg, 
                    rgba($color-white, 0.9) 0,
                    rgba($color-white, 0.9) 50%,
                    transparent 50%), 
                    url(../img/form-bg-image.jpg);
    background-size: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .25);
    height: 50rem;
    &-form{
        width: 50%;
        padding: 6rem;
        @include respond(tab-port){
            width: 100%;
            padding: 2rem;
        }
    }
    @include respond(tab-port){
        background-image:linear-gradient(105deg, 
                    rgba($color-white, 0.8) 0,
                    rgba($color-white, 0.8) 100%,
                    transparent 70%), 
                    url(../img/form-bg-image.jpg);
        background-size: cover;
        background-repeat: no-repeat;

    }
}

.section-social{
    background-color:transparent;
    // padding         : 7rem 0;
    position: fixed;
    left:0;
    bottom:2rem;
    
    @include respond(phone){
        position: relative;
        left:0;
        bottom:0;
        padding         : 5rem 0;
    }
}
